<template>
  <div>
    <ub-input v-model="work.name" name="name" :validate="'required'">Name</ub-input>
    <div class="field is-grouped">
      <p class="control">
        <button class="button is-primary" @click="saveWork" :disabled="errors.any() || saveInProgress" :class="{'is-loading': saveInProgress}">
          <span v-if="work.id">Speichern</span>
          <span v-else>Erstellen</span>
        </button>
      </p>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

import UbInput from './UbInput'

export default {
  name: 'UbFormWork',
  components: {
    UbInput
  },
  props: {
    initialWork: {
      type: Object,
      default: () => {
        return {
          id: undefined,
          name: undefined
        }
      }
    },
    id: {}
  },
  created () {
    // check if person is set over route
    if (this.id) {
      this.work = Object.assign({}, this.get(this.id))
    }
  },
  data () {
    return {
      work: Object.assign({}, this.$props.initialWork),
      saveInProgress: false
    }
  },
  computed: {
    ...mapGetters('work', [
      'get'
    ])
  },
  methods: {
    ...mapActions('work', [
      'save'
    ]),
    saveWork () {
      this.saveInProgress = true
      this.$validator.validateAll()
        .then((valid) => {
          if (!valid) {
            throw new Error('form is not valid')
          }
          return this.save(this.work)
        })
        .then((work) => {
          this.saveInProgress = false
          this.work = work
        })
        .catch((error) => {
          this.saveInProgress = false
          // TODO Error handling
          alert('could not save workshift: ' + error)
        })
    }
  }
}
</script>