<template>
  <div>
    <ub-input-datetime type="datetime" v-model="workshift.start_time" name="start_time" :validate="'required'">Von</ub-input-datetime>
    <ub-input-datetime type="datetime" v-model="workshift.end_time" name="end_time" :validate="'required'">Bis</ub-input-datetime>
    <ub-select-person v-model="workshift.person_id" name="person" :validate="'required'"></ub-select-person>
    <ub-select-work v-model="workshift.work_id" name="work" :validate="'required'"></ub-select-work>
    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary" @click="saveWorkshift" :disabled="errors.any() || saveInProgress || removeInProgress" :class="{'is-loading': saveInProgress}">
          <span v-if="workshift.id">Speichern</span>
          <span v-else>Erstellen</span>
        </button>
      </div>
      <div class="control">
        <button class="button is-danger" @click="removeWorkshift" :disabled="removeInProgress || saveInProgress" :class="{'is-loading': removeInProgress}">
          <span v-if="workshift.id">Löschen</span>
          <span v-else>Verwerfen</span>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

import UbSelectWork from './UbSelectWork'
import UbSelectPerson from './UbSelectPerson'
import UbInputDatetime from './UbInputDatetime'

export default {
  name: 'UbFormWorkshift',
  components: {
    UbSelectWork,
    UbSelectPerson,
    UbInputDatetime
  },
  props: {
    initialWorkshift: {
      type: Object,
      default: () => {
        return {
          id: undefined,
          start_time: undefined,
          end_time: undefined,
          work_id: undefined,
          person_id: undefined
        }
      }
    },
    id: {}
  },
  created () {
    // check if person is set over route
    if (this.id) {
      this.fetch(this.id).then((workshift) => {
        this.workshift = Object.assign({}, workshift)
      }).catch((error) => {
        // TODO: error handling
        alert('failed to get workshift with id: ' + this.id + '. ' + error)
      })
    }
  },
  data () {
    return {
      workshift: {},
      saveInProgress: false,
      removeInProgress: false
    }
  },
  mounted () {
    this.workshift = Object.assign({}, this.initialWorkshift)
  },
  watch: {
    initialWorkshift (newWorkshift) {
      this.workshift = Object.assign(this.workshift, newWorkshift)
      this.$validator.clean()
    }
  },
  methods: {
    ...mapActions('workshift', [
      'fetch',
      'save',
      'remove'
    ]),
    removeWorkshift () {
      // discard
      if (!this.workshift.id) {
        this.workshift = Object.assign({}, this.initialWorkshift)
        this.$validator.clean()
        this.$emit('discard', this.workshift)
        return
      }
      // remove
      this.removeInProgress = true
      this.remove(this.workshift).then(() => {
        this.removeInProgress = false
        this.workshift = Object.assign({}, this.initialWorkshift)
        this.$validator.clean()
        this.$emit('remove', this.workshift)
      }).catch((error) => {
        this.removeInProgress = false
        console.log(error)
        // TODO
      })
    },
    saveWorkshift () {
      this.saveInProgress = true
      this.$validator.validateAll()
        .then((valid) => {
          if (!valid) {
            throw new Error('form is not valid')
          }
          return this.save(this.workshift)
        })
        .then((workshift) => {
          this.saveInProgress = false
          this.workshift = workshift
          this.$emit('save', workshift)
        })
        .catch((error) => {
          this.saveInProgress = false
          // TODO
          alert('could not save workshift: ' + error)
        })
    }
  }
}
</script>