<template>
  <div class="tile is-ancestor">
    <div class="tile is-2">
      <div class="form">
        <h1 class="title is-5">Filter</h1>
        <div class="field">
          <label class="label">Arbeit</label>
          <div class="control">
            <div class="select">
              <select v-model="filter.work" @change="refetchEvents()">
                <option value="">Alle</option>
                <option v-for="work in getWorks" :key="work.id" :value="work.id" >{{ work.name }}</option>
              </select>
            </div>
          </div>
          <div class="control">
            <input type="checkbox" v-model="filter.absences" @change="refetchEvents()"> Absenzen
          </div>
        </div>
        <h1 class="title is-5">Bearbeiten</h1>
        <div class="field is-grouped">
          <div class="control">
            <div class="select">
              <select v-model="editType">
                <option value="">Neu...</option>
                <option value="workshift">Arbeit</option>
                <option value="absence">Absenz</option>
              </select>
            </div>
          </div>
          <div class="control">
            <button class="button is-primary" @click="resetCalendarEntryEdit()">
              <span>Reset</span>
            </button>
          </div>
        </div>
        <ub-form-workshift
          v-if="this.editType === 'workshift'"
          :initial-workshift="this.editWorkshift"
          @save="saveCalendarEntry()"
          @remove="saveCalendarEntry()"
          @discard="resetCalendarEntryEdit()">
        </ub-form-workshift>
        <ub-form-absence
          v-if="this.editType === 'absence'"
          :initial-absence="this.editAbsence"
          @save="saveCalendarEntry()"
          @remove="saveCalendarEntry()"
          @discard="resetCalendarEntryEdit()">
        </ub-form-absence>
      </div>
    </div>
    <div class="tile">
      <div ref="calendar"></div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import UbFormWorkshift from './UbFormWorkshift'
import UbFormAbsence from './UbFormAbsence'

import $ from 'jquery'

import 'fullcalendar'
import 'fullcalendar/dist/fullcalendar.css'
import 'fullcalendar/dist/locale/de-ch.js'
import 'fullcalendar-scheduler'
import 'fullcalendar-scheduler/dist/scheduler.css'
import moment from 'moment'

export default {
  name: 'UbViewCalendar',
  components: {
    UbFormWorkshift,
    UbFormAbsence
  },
  data () {
    return {
      editType: '',
      editWorkshiftId: undefined,
      editAbsenceId: undefined,
      range: {
        start_time: undefined,
        end_time: undefined
      },
      calendar: null,
      filter: {
        absences: false,
        work: ''
      }
    }
  },
  computed: {
    ...mapGetters([
      'workshift/get',
      'absence/get',
      'calendar/getRange',
      'calendar/getResources'
    ]),
    getWorks () { return this.$store.getters['work/getAll'] },
    editWorkshift () {
      // either the selected workshift or the selected time range
      return this.editWorkshiftId ? this['workshift/get'](this.editWorkshiftId) : { ...this.range }
    },
    editAbsence () {
      // either the selected workshift or the selected time range
      return this.editAbsenceId ? this['absence/get'](this.editAbsenceId) : { ...this.range }
    }
  },
  methods: {
    ...mapActions([
      'workshift/save',
      'absence/save',
      'calendar/fetchRange',
      'calendar/fetchResources'
    ]),
    refetchEvents () {
      this.calendar.fullCalendar('refetchEvents')
    },
    resetCalendarEntryEdit () {
      this.editWorkshiftId = undefined
      this.editAbsenceId = undefined
      this.range.start_time = undefined
      this.range.end_time = undefined
      this.editType = ''
    },
    saveCalendarEntry () {
      this.resetCalendarEntryEdit()
      this.refetchEvents()
    },
    // event onclick action in calendar
    loadEvent (event) {
      if (event.id.toString().startsWith('a-')) {
        this.editType = 'absence'
        this.editAbsenceId = event.realId
      } else {
        this.editType = 'workshift'
        this.editWorkshiftId = event.realId
      }
    },
    // drag n drop and resize actions in calendar
    saveEvent (event, revertFunc) {
      let type = 'workshift'
      if (event.id.toString().startsWith('a-')) {
        type = 'absence'
      }

      // convert full calendar entry to our format
      event = Object.assign({}, event) // copy original calendar event
      event.start_time = event.start
      event.end_time = event.end
      event.id = event.realId

      let request
      if (type === 'absence') {
        request = this['absence/save'](event)
      } else {
        request = this['workshift/save'](event)
      }
      request
        .then((w) => {
          // TODO notify user
        })
        .catch((e) => {
          console.log(e)
          revertFunc()
          // TODO: notify user
        })
    }
  },
  mounted () {
    this.calendar = $(this.$refs.calendar)

    var args = {
      schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
      defaultView: 'agendaWeek',
      editable: true,
      timezone: 'local',
      nowIndicator: true,
      scrollTime: '07:00:00',
      // TODO is there a better way to set the height?
      contentHeight: function () { return $(window).height() * 0.7 },
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'month,agendaWeek,agendaDay,timelineDay,timelineWeek'
      },
      selectable: true,
      select: (start, end, jsevent, view, res) => {
        this.range.start_time = start
        this.range.end_time = end
      },
      eventDrop: (event, delta, revertFunc, jsEvent, ui, view) => {
        this.saveEvent(event, revertFunc)
      },
      eventResize: (event, delta, revertFunc, jsEvent, ui, view) => {
        this.saveEvent(event, revertFunc)
      },
      resources: (callback) => {
        this['calendar/fetchResources']().then(() => {
          callback(this['calendar/getResources'])
        }).catch((error) => {
          console.log(error)
          // TODO: notify user
          alert('failed to load resources', error)
        })
      },
      // disable dragging from one resource to another (e.g. absence to workshift)
      eventResourceEditable: false,
      eventClick: this.loadEvent,
      eventRender: (event, element, view) => {
        // add hatching for absences
        if (event.id.startsWith('a-')) {
          element.css('background-image', `repeating-linear-gradient(
            45deg,
            transparent,
            transparent 5px,
            rgba(0, 0, 0, 0.2) 5px,
            rgba(0, 0, 0, 0.2) 10px)`)
        }
      },
      eventSources: [
        {
          events: (start, end, timezone, callback) => {
            start = moment(start.toDate())
            end = moment(end.toDate())
            this['calendar/fetchRange']([start, end])
              .then(() => {
                let fcEntries = this['calendar/getRange'](start, end, this.filter)
                callback(fcEntries)
              })
              .catch((error) => {
                // TODO
                console.log(error)
                alert('failed to load calendar entries', error.message)
              })
          }
        }
      ]
    }

    // initialize full calendar
    this.calendar.fullCalendar(args)
  }
}
</script>