<template>
  <div>
    <h1 class="title is-2">Personen</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Kürzel</th>
          <th>Name</th>
          <th>LDAP-User</th>
          <th>Admin</th>
          <th>%</th>
          <th>Farbe</th>
          <th>
            <a @click="fetchAll(true)">
              <span class="icon">
                <i class="fa fa-refresh"></i>
              </span>
            </a>
            <a @click="$router.push({name: 'PersonNew'})">
              <span class="icon">
                <i class="fa fa-plus"></i>
              </span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="person in this.getAll" v-bind:key="person.id">
          <th>{{ person.id }}</th>
          <td>{{ person.short_name }}</td>
          <td>{{ person.name }}</td>
          <td>{{ person.username }}</td>
          <td>{{ person.is_admin ? 'ja' : 'nein' }}</td>
          <td>{{ person.employment_level }} %</td>
          <td><div style="width: 16px; height: 16px" :style="'background-color: ' + person.color"></div></td>
          <td>
            <a @click="$router.push({name: 'PersonEdit', params: { id: person.id}})">
              <span class="icon">
                <i class="fa fa-pencil"></i>
              </span>
            </a>
            <a @click="remove(person)">
              <span class="icon">
                <i class="fa fa-trash"></i>
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  name: 'UbViewPerson',
  computed: {
    ...mapGetters('person', [
      'getAll'
    ])
  },
  methods: {
    ...mapActions('person', [
      'remove',
      'fetchAll'
    ])
  },
  created () {
    this.fetchAll()
  }
}
</script>