<template>
  <div>
    <h1 class="title is-2 is-loading">Statistik</h1>
    <div style="width: 400px; height: 400px">
      <canvas ref="chart" width="400px" height="400px"></canvas>
    </div>
    <ub-select-work v-model="workId" name="work" validate="" @input="resetChart" no-selection-name="Alle"></ub-select-work>
    <div class="field">
      <label class="checkbox">
        <input v-model="useEmploymentLevel" name="useEmploymentLevel" type="checkbox" @change="resetChart">
        Anstellungsgrad berücksichtigen
        <span class="help">
          <b>Hinweis:</b> Wird der Anstellungsgrad berückstichtigt, werden für alle Mitarbeiter die Stunden auf eine 100%-Stelle hochgerechnet.
          Wenn also z.B. Peter 3h arbeitet und 50% angestellt ist, wird dies als 6h Arbeit gerechnet.
        </span>
      </label>
    </div>
    <div class="field">
      <label>Zeitspanne</label>
      <ub-input-datetime name="start" v-model="start" validate="required" @input="fetchAndShow()">Von</ub-input-datetime>
      <ub-input-datetime name="end" v-model="end" validate="required" @input="fetchAndShow()">Bis</ub-input-datetime>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import UbSelectWork from './UbSelectWork'
import UbInputDatetime from './UbInputDatetime'

import moment from 'moment'
import Chart from 'chart.js'

export default {
  name: 'UbViewStats',
  components: {
    UbSelectWork,
    UbInputDatetime
  },
  data () {
    return {
      chart: null,
      workId: '',
      useEmploymentLevel: false,
      start: moment().startOf('month'),
      end: moment().endOf('month')
    }
  },
  computed: {
    getPerson () { return this.$store.getters['person/get'] },
    getWork () { return this.$store.getters['work/get'] },
    ...mapGetters('workshift', [
      'getRange'
    ]),
    hoursWorked () {
      return this.getRange(this.start, this.end).reduce((a, v) => {
        // filter work units by work_id
        if (!(this.workId === '' || this.workId === v.work_id.toString())) {
          return a
        }
        if (!a[v.person_id]) {
          a[v.person_id] = 0
        }
        let hours = moment.duration(v.end_time.diff(v.start_time)).asHours()
        // project to 100% employment level
        if (this.useEmploymentLevel) {
          hours = hours * 1 / this.getPerson(v.person_id).employment_level / 100
        }
        a[v.person_id] += hours
        return a
      }, {})
    },
    pieChartData () {
      let ids = Object.keys(this.hoursWorked)
      return {
        labels: ids.map((id) => this.getPerson(id).name),
        datasets: [{
          data: ids.map((id) => this.hoursWorked[id]),
          backgroundColor: ids.map((id) => this.getPerson(id).color)
        }]
      }
    }
  },
  created () {
    Promise.all([
      this.fetchPersons(),
      this.fetchWorks()
    ]).then(() => {
      return this.fetchAndShow()
    }).catch((error) => {
      console.log(error)
      // TODO: notify user
      alert('failed to load data', error.message)
    })
  },
  methods: {
    fetchAndShow () {
      this.fetchWorkshiftRange([this.start, this.end])
      .then(() => {
        if (this.chart !== null) {
          this.resetChart()
        }
      })
      .catch((error) => {
        console.log(error)
        // TODO: notify user
        alert('failed to fetch data', error.message)
      })
    },
    resetChart () {
      if (this.chart) {
        this.chart.destroy()
      }

      // chart options
      let options = {
        legend: {
          position: 'right'
        },
        title: {
          display: true,
          text: this.useEmploymentLevel ? 'Arbeitszeit Prozentual' : 'Arbeitszeit nach Stunden'
        }
      }
      if (this.workId) {
        options.title.text += ': ' + this.getWork(this.workId).name
      }
      // show percentage
      if (this.useEmploymentLevel) {
        options.tooltips = {
          callbacks: {
            label: (item, data) => {
              let total = data.datasets[item.datasetIndex].data.reduce((a, v, index) => {
                // do not count hidden data
                if (this.chart.getDatasetMeta(item.datasetIndex).data[index].hidden) {
                  return a
                }
                return a + v
              }, 0)
              let itemValue = data.datasets[item.datasetIndex].data[item.index]
              let percentage = Math.floor(((itemValue / total) * 100) + 0.5)
              return data.labels[item.index] + ': ' + percentage + '%'
            }
          }
        }
      // add hour unit to tooltip
      } else {
        options.tooltips = {
          callbacks: {
            label: (item, data) => {
              return data.labels[item.index] + ': ' + data.datasets[item.datasetIndex].data[item.index] + 'h'
            }
          }
        }
      }
      this.chart = new Chart(this.$refs.chart, {
        type: 'pie',
        data: this.pieChartData,
        options: options
      })
    },
    fetchPersons () { return this.$store.dispatch('person/fetchAll') },
    fetchWorks () { return this.$store.dispatch('work/fetchAll') },
    fetchWorkshiftRange () { return this.$store.dispatch('workshift/fetchRange', [this.start, this.end]) }
  },
  mounted () {
    this.start = moment().startOf('month')
    this.end = moment().endOf('month')
    this.resetChart()
  }
}
</script>