<template>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>
            <a @click="fetchAll(true)">
              <span class="icon">
                <i class="fa fa-refresh"></i>
              </span>
            </a>
            <a @click="$router.push({name: 'WorkNew'})">
              <span class="icon">
                <i class="fa fa-plus"></i>
              </span>
            </a>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="work in this.getAll" :key="work.id">
          <th>{{ work.id }}</th>
          <td>{{ work.name }}</td>
          <td>
            <a @click="$router.push({name: 'WorkEdit', params: { id: work.id }})">
              <span class="icon">
                <i class="fa fa-pencil"></i>
              </span>
            </a>
            <a @click="remove(work)">
              <span class="icon">
                <i class="fa fa-trash"></i>
              </span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'UbViewWork',
  computed: {
    ...mapGetters('work', [
      'getAll'
    ])
  },
  methods: {
    ...mapActions('work', [
      'remove',
      'fetchAll'
    ])
  },
  created () {
    this.fetchAll()
  }
}
</script>