{% extends 'base.html.twig' %}

{% block body %}
    <h1>People list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Shortname</th>
                <th>Color</th>
                <th>Employmentlevel</th>
                <th>Contractstart</th>
                <th>Contractend</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td><a href="{{ path('person_show', { 'id': person.id }) }}">{{ person.id }}</a></td>
                <td>{{ person.name }}</td>
                <td>{{ person.shortName }}</td>
                <td><div style="width: 16px; height: 16px; background-color: {{ person.color }}"></div></td>
                <td>{{ person.employmentLevel }}</td>
                <td>{% if person.contractStart %}{{ person.contractStart|date('Y-m-d') }}{% endif %}</td>
                <td>{% if person.contractEnd %}{{ person.contractEnd|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('person_show', { 'id': person.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('person_edit', { 'id': person.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('person_new') }}">Create a new person</a>
        </li>
    </ul>
{% endblock %}
