{% extends 'base.html.twig' %}

{% block body %}
    <h1>Person</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ person.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ person.name }}</td>
            </tr>
            <tr>
                <th>Shortname</th>
                <td>{{ person.shortName }}</td>
            </tr>
            <tr>
                <th>Color</th>
                <td><div style="width: 16px; height: 16px; background-color: {{ person.color }}"></div></td>
            </tr>
            <tr>
                <th>Employmentlevel</th>
                <td>{{ person.employmentLevel }}</td>
            </tr>
            <tr>
                <th>Contractstart</th>
                <td>{% if person.contractStart %}{{ person.contractStart|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Contractend</th>
                <td>{% if person.contractEnd %}{{ person.contractEnd|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('person_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('person_edit', { 'id': person.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

    <h2>Absences</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Starttime</th>
            <th>Endtime</th>
            <th>Reason</th>
            <th>Optional</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for absence in person.absences %}
            <tr>
                <td><a href="{{ path('absence_show', { 'id': absence.id }) }}">{{ absence.id }}</a></td>
                <td>{% if absence.startTime %}{{ absence.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if absence.endTime %}{{ absence.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ absence.reason }}</td>
                <td>{% if absence.optional %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('absence_show', { 'id': absence.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('absence_edit', { 'id': absence.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('absence_new') }}">Create a new absence</a>
{% endblock %}
