<template>
  <div id="app">
  <section class="section">
    <div class="tabs is-boxed">
      <ul>
        <router-link v-for="item in menu" v-bind:key="item.path" :to="item.path" tag="li">
          <a>{{ item.name }}</a>
        </router-link>
      </ul>
    </div>
    <router-view/>
  </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  name: 'app',
  data () {
    return {
      menu: [
        {path: '/calendar', name: 'Kalender'},
        {path: '/person', name: 'Personen'},
        {path: '/work', name: 'Funktionen'},
        {path: '/stats', name: 'Statistik'}
      ]
    }
  },
  computed: {
    ...mapGetters([
      'user/isLoggedIn'
    ])
  },
  created () {
    // redirect to login page
    if (!this['user/isLoggedIn']) {
      this.$store.dispatch('user/fetch').then(() => {
        if (!this['user/isLoggedIn']) {
          window.location.href = '/login'
        }
      })
    }
  }
}
</script>