{% extends 'base.html.twig' %}

{% block navigation %}
{% endblock %}

{% block body %}
    <h2>Login</h2>
    {% if error == 'INVALID_CREDENTIALS' %}
        <div class="alert alert-danger">
            Benutzername oder Passwort ungültig.
        </div>
    {% elseif error == 'NOT_ALLOWED' %}
        <div class="alert alert-danger">
            Sie sind nicht berechtigt auf dieses System zuzugreifen.
        </div>
    {% endif %}
    <div class="col-md-6">
        <form method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Campus account" name="username"  value="{{ username }}" autofocus />
            </div>

            <div class="form-group">
                <input type="password" class="form-control" placeholder="Passwort" name="password" />
            </div>

            <button type="submit" class="btn btn-primary btn-flat">Login</button>
        </form>
    </div>
{% endblock %}