<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
<script>
    jQuery(document).ready(function() {
        $('.colorpicker').spectrum({
            allowEmpty: true,
            showButtons: false,
            preferredFormat: "hex"
        })
    });
</script>