<link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
<script src="https://unpkg.com/flatpickr"></script>
<script>
    jQuery(document).ready(function() {
        $('.flat_datetimepicker').flatpickr({
            enableTime: true,
            time_24hr: true,
            weekNumbers: true
        })
        $('.flat_timepicker').flatpickr({
            enableTime: true,
            time_24hr: true,
            noCalendar: true
        })
        $('.flat_datepicker').flatpickr()
    });
</script>