<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('person_index') }}">Personen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('workshift_index') }}">Einsätze</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('template_index') }}">Vorlagen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('work_index') }}">Funktionen</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('calendar') }}">Kalender</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('logout') }}">Abmelden</a>
    </li>
</ul>