{% extends 'base.html.twig' %}

{% block body %}
    <h1>Kalender</h1>
    <select name="resource" id="resource">
        <option value="0">All</option>
        <option value="1">Infotheke</option>
        <option value="2">Kurier</option>
    </select>
    <div id="calendar" ></div>
    <script src="frontend/app.js"></script>
{% endblock %}
