{% extends 'base.html.twig' %}

{% block body %}
    <h1>Absences list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Starttime</th>
                <th>Endtime</th>
                <th>Reason</th>
                <th>Optional</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for absence in absences %}
            <tr>
                <td><a href="{{ path('absence_show', { 'id': absence.id }) }}">{{ absence.id }}</a></td>
                <td>{% if absence.startTime %}{{ absence.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if absence.endTime %}{{ absence.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ absence.reason }}</td>
                <td>{% if absence.optional %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('absence_show', { 'id': absence.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('absence_edit', { 'id': absence.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('absence_new') }}">Create a new absence</a>
        </li>
    </ul>
{% endblock %}
