{% extends 'base.html.twig' %}

{% block body %}
    <h1>Absence</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ absence.id }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{% if absence.startTime %}{{ absence.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{% if absence.endTime %}{{ absence.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ absence.reason }}</td>
            </tr>
            <tr>
                <th>Optional</th>
                <td>{% if absence.optional %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('absence_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('absence_edit', { 'id': absence.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
