{% extends 'base.html.twig' %}

{% block body %}
    <h1>Works list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for work in works %}
            <tr>
                <td><a href="{{ path('work_show', { 'id': work.id }) }}">{{ work.id }}</a></td>
                <td>{{ work.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('work_show', { 'id': work.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('work_edit', { 'id': work.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('work_new') }}">Create a new work</a>
        </li>
    </ul>
{% endblock %}
