{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workshifttemplates list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Starttime</th>
                <th>Endtime</th>
                <th>Weekday</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workshiftTemplate in workshiftTemplates %}
            <tr>
                <td><a href="{{ path('workshifttemplate_show', { 'id': workshiftTemplate.id }) }}">{{ workshiftTemplate.id }}</a></td>
                <td>{% if workshiftTemplate.startTime %}{{ workshiftTemplate.startTime|date('H:i:s') }}{% endif %}</td>
                <td>{% if workshiftTemplate.endTime %}{{ workshiftTemplate.endTime|date('H:i:s') }}{% endif %}</td>
                <td>{{ workshiftTemplate.weekday }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('workshifttemplate_show', { 'id': workshiftTemplate.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('workshifttemplate_edit', { 'id': workshiftTemplate.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workshifttemplate_new') }}">Create a new workshiftTemplate</a>
        </li>
    </ul>
{% endblock %}
