{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workshifttemplate</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workshiftTemplate.id }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{% if workshiftTemplate.startTime %}{{ workshiftTemplate.startTime|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{% if workshiftTemplate.endTime %}{{ workshiftTemplate.endTime|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Weekday</th>
                <td>{{ workshiftTemplate.weekday }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workshifttemplate_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('workshifttemplate_edit', { 'id': workshiftTemplate.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
