{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workshifts list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Starttime</th>
                <th>Endtime</th>
                <th>Work</th>
                <th>Person</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for workshift in workshifts %}
            <tr>
                <td><a href="{{ path('workshift_show', { 'id': workshift.id }) }}">{{ workshift.id }}</a></td>
                <td>{% if workshift.startTime %}{{ workshift.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if workshift.endTime %}{{ workshift.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ workshift.work.name }}</td>
                <td>{{ workshift.person.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('workshift_show', { 'id': workshift.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('workshift_edit', { 'id': workshift.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workshift_new') }}">Create a new workshift</a>
        </li>
    </ul>
{% endblock %}
