{% extends 'base.html.twig' %}

{% block body %}
    <h1>Workshift</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ workshift.id }}</td>
            </tr>
            <tr>
                <th>Starttime</th>
                <td>{% if workshift.startTime %}{{ workshift.startTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Endtime</th>
                <td>{% if workshift.endTime %}{{ workshift.endTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('workshift_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('workshift_edit', { 'id': workshift.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
